<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>dev/api</title>
        <link rel='stylesheet' type='text/css' href='/src/css/api.css' />
        <link rel='stylesheet' type='text/css' href='/lib/prettify/prettify.css' />
    </head>
    <body>
        <div class='m-nav'></div>
        <div class='m-cnt'>这是显示内容的所在！</div>
        <script type="text/javascript" src='http://nej.netease.com/nej/src/define.js'></script>
        <script type='text/javascript' src='/lib/prettify/prettify.js'></script>
        <script type="text/javascript" src='/src/js/api.js'></script>
    </body>
</html>